.body{
    width: 100vw;
}

.content{
    margin-bottom: 50px;
}

.header-name {
    font-size: calc(57px / 2);
    margin: 47px auto auto calc(100vw - 195px - 80px);
}
.header-circle{
    width: 65px;
    height: 65px;
    margin: 30px auto auto calc(100vw - 195px);
}

.content-h1{
    font-size: calc(57px / 2);
    margin: 200px auto auto calc(50vw - 85px / 2);
}
.content-line{
    width: 200px;
    height: 3pt;
    border-radius: 1.5pt;
    margin: 250px auto auto calc(50vw - 100px);
}

.game{
    width: 200px;
    height: 200px;
    border-radius: 33px;
}
.game-text{
    margin-top: 18px;
    font-size: calc(57px / 2);
}

.games-table{
    margin: calc(250px + 3pt) auto auto calc(50vw - (200px * 3 + 50px * 4) / 2);
    padding-bottom: 150px;
}

.footer{
    margin-top: calc(100vh + 150px)
}
.footer p{
    font-size: 12.5px;
}
